@import './config';


.content__cat {
    background: #E5E5E5;
    position: relative;
    //flex: 1 0 auto;
}
.background__cat {
    max-width: 1280px;
    margin: auto;
}



.head__cat {
    display: flex;
    flex-direction: row;    
    @media (max-width: $xl) {
        display: flex;
        flex-direction: column; 
    }
    @media (max-width: $md) {
       padding-top: 160px ;
    }
}

.SelectCart{
    @media (max-width: $xl) {
        display: block;
        flex-direction: column;
    }
}



.max_cat{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    margin-left: 120px;
    @media (max-width: $md) {
        margin-left: 120px;
    }
    @media (max-width: $sm) {
        margin-left: 10px;
    }
}





