
.header {
  padding: 0px 0px;
  margin: 0px 0px;
  position: relative;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__background {
  background: url(../../img/fon1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



.header__rgda {
  background: rgba(31, 32, 33, 0.79);
}

.header_maxWidth{
  max-width: 1280px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
.header__burger {
  display: none;
}
*/

.header__logo {
  z-index: 3;
  margin: 40px 110px 0px 120px;


  @media (max-width: $xl) {
    margin: 40px 30px 0px 0px;
  }

  @media (max-width: $md) {
    display: none;
  }
}

.header__logo-1 {}

.header__nav {
  z-index: 3;
  margin-right: 300px;

  @media (max-width: $xl) {
    margin-right: 200px;
  }
}

.header__nav-list {
  display: flex;
  list-style: none;
}

.header__nav-item {
  position: relative;
  margin: 56px 0px 0px 40px;

  @media (max-width: $xl) {
    margin: 56px 10px 0px 20px;
  }

  @media (max-width: $lg) {
    margin: 60px 0px 5px 116px;
  }
}

.header__nav-link {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;

  &:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
  }
}

.header__data {}

.header__number-container {
  z-index: 3;

  @media (max-width: $md) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.header__number {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  white-space: nowrap;
  margin: 46px 129px 4px 0px;

  @media (max-width: $md) {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 10px 0px 10px 30px;
  }

  //Tempesto20
}

.header__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  white-space: nowrap;
  margin: 0px 129px 0px 0px;

  @media (max-width: $md) {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0px 10px 30px;
  }

}

.header__search {
  display: flex;

}

.header__found {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
  white-space: nowrap;
  margin: 50px 0px 66px 120px;

  @media (max-width: $xl) {
    font-size: 26px;
    line-height: 32px;
    margin: 50px 0px 66px 120px;
  }

  @media (max-width: $md) {
    font-size: 26px;
    line-height: 32px;
    margin: 20px 0px 10px 30px;
  }
}

@media (max-width: $lg) {
  .header {
    width: 100%;
    position: fixed;
  }

  .header__nav {
    position: fixed;
    overflow: auto;

    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    padding-top: 60px;
    transition: all 0.3s ease 0s;

    &.active {
      top: 0;
    }
  }

  html.lock,
  body.lock {
    overflow: hidden;
  }

  //Tempesto20

  .header__nav-link {
    padding: 0px;

    &:hover {
      border-top: none;
    }
  }

  .header__nav-list {
    display: block;
  }


  /*
  .header__burger {
    order: 3;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;

    &:hover {
      cursor: pointer;
    }

    &:before,
    &:after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    &.active {
      &:before {
        content: '';
        transform: rotate(45deg);
        top: 9px;
      }

      &:after {
        content: '';
        transform: rotate(-45deg);
        bottom: 9px;
      }

      span {
        transform: scale(0);
      }
    }

    span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
  }
*/



}