@import './config';

.sort{
    display: flex;
    justify-content: row;
    @media (max-width: $sm) {
        display: flex;
        flex-direction: column; 
    }
}
.catSelect {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    background: #E5E5E5;
    margin: 38px 84px 38px 0px;
    @media (max-width: $lg) {
        margin: 300px 84px 38px 0px;
    }
    @media (max-width: $md) {
        //max-width: 100px;
        font-size: 16px;
        line-height: 18px;
        margin: 200px 42px 38px 0px;
    }
    @media (max-width: $sm) {
        max-width: 200px;
        margin: 0px 0px 10px 20px;
    }
}
