@import 'config';
@import 'fonts';
//@import 'variables';
@import 'libs/normalize';

@import 'components/all';


$font-family-default: Proxima Nova;
$font-size-default: 24px;
$font-weight-default: 400;

/*
$max-width: 1280px;
$md1: $max-width;
$md2: 992px;
$md3: 768px;
$md4: 576px;
*/
/*
$xl: 1280px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$ssm: 437px;
*/
body {
  font-family: $font-family-default;
  font-weight: 400;
}

//Tempesto20
.section-container {
  width: 100%;
  margin: 0 auto;
  max-width: $xl;

  @media (max-width: $xl) {
    max-width: 970px;
  }

  @media (max-width: $lg) {
    max-width: 750px;
  }

  @media (max-width: $md) {
    max-width: none;
    padding: 0 10px;
  }
}